/*************
 * Title:    IBNet User Backend Admin Design
 * Designer: Steve McKinley
 * Website:  https://www.admin17.ibnet.org
 *
 ************/

/*
 *  Site
 *******************************/
html,
body {
    height: 100%;
    color: #363636;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container {
    padding: 70px 15px 20px;
}
.content-wrapper {
    background-color: #fff !important;
}
.btn-main {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 6px;
    min-width: 100px;
    height: 40px;
}


/*
 *  Listview Rows
 *******************************/
.list-row, .header-row {
    display: flex;
    padding: 10px;
    border-top: 1px solid #e1e1e1;
}
.header-row {
    font-weight: bold;
    background-color: #f9f9f9;
}
.header-row a {
    color: #363636;
}
.list-row:hover {
    background-color: #f9f9f9;
}
.row-flagged {
    background-color: #f00;
}
.row-trash {
    color: #ccc;
}
.list-row p, .header-row p {
    width: 30px;
    padding:0 20px;
    font-size: 1.1em;
}
.list-row p.col-60.button {
    padding: 0 10px;
}
.review .glyphicon-check {
    color: #545454;
}
p.col-60 {
    width: 60px;
}
p.col-100 {
    width: 100px;
}
p.col-150 {
    width: 150px;
}
p.col-180 {
    width: 180px;
}
p.col-240 {
    width: 240px;
}
p.col-300 {
    width: 300px;
}
/*.select {
    width: 40%;
    height: 40px;
    margin: 10px 0;
}*/
#user-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
/*#user-select option:not(:checked) {
  color: black;
}*/
#user-select,
.forward-email {
    border-radius: 6px;
    width: 300px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid gray;
}
.pending-group-emails {
    border-radius: 6px;
    width: 300px;
    height: 40px;
    padding: 0 10px;
    margin: 0 5px;
    border: 1px solid gray;
    width: 240px;
}
.list-row a.action,
.list-row button.action {
    font-size: 1.4em;
    color: gray;
    height: 40px;
    padding: 0 5px;
    margin-top: -5px;
}
p.indent {
    margin-left: 40px;
    border-left: 4px solid #bbb;
}
.indent img {
    width: 45px;
    border-radius: 50%;
    margin: 0 20px;
}



/*
 *  Detail view modals
 *******************************/
.modal-header {
    background-color: gray;
    color: #a1a1a1;
}
.modal-body {
    padding: 20px 40px;
}
#user-edit,
#user-ban,
#user-role,
#profile-edit, 
#profile-inactivate, 
#profile-trash,
#profile-flag {
    display: none;
}
.image1 {
    width: 100%;
    max-height: 195px;
}
.detail-head {
    overflow: auto;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px dotted gray;
}
.actions {
    float: right;
    clear: both;
    font-size: 1.6em;
    margin: 0 15px;
}
.actions button {
    width: 45px;
    margin: 0 -10px;
    color: gray;
}
.detail p {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 15px 10px;
}
.detail-head .picture {
    float: left;
    width: 30%;
}
.detail-head .name {
    float: right;
    width: 70%;
}
.detail-head img {
    border-radius: 50%;
    width: 100px;
}
.personal-details p {
    background-color: #adadea;;
    color: white;
}
.account-details p {
    background-color: #e4e4e4;
    color: #6c6c6c;
}
.account-access p {
    background-color: #bababa;
    color: white;
}
.community p {
    background-color: #899e8b;
    color: white;
}
p.Trash {
    color: #ccc;
}
span.New,
span.User {
    color: blue;
}
span.Active,
span.SafeUser {
    color: green;
}
span.Inactive,
span.Deleted,
span.Admin {
    color: orange;
}
span.Expired {
    color: red;
}
span.Trash {
    color: #ccc;
}
span.Banned {
    color: red;
}
table.role {
    background-color: #f9f9f9;
    border-radius: 6px;
    border-collapse: separate;
    margin: 20px 0;
} 
table.role td {
    padding: 20px;
}
.wrap-anywhere {
    word-wrap: anywhere;
}
.ban-history-date {
    color: gray;
    font-style: italic;
}
.mb-label {
    display: none;
}


/*
 *  Gridview
 *******************************/
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: /*"\e113"*/ "\e151";
}
a.desc:after {
    content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
    content: "\e153";
}
.sort-numerical a.desc:after {
    content: "\e154";
}
.sort-ordinal a.asc:after {
    content: "\e155";
}
.sort-ordinal a.desc:after {
    content: "\e156";
}
.grid-view td {
    white-space: nowrap;
}
.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}
form[id^="group-emails-form-"] {
    display: flex;
}

/*Cron schedule*/
.schedule {
    max-width: 700px;
}
.schedule p {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 15px 10px;
}

/*DB table*/
.db-table {
    width: 100%;
    max-width: 500px;
}


/*
 *  Footer
 *******************************/
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


/*
 *  Misc
 *******************************/
 .hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}
.nav > li > form > button.logout:focus {
    outline: none;
}
/* style button to look like link */
button.link-btn {
  background-color: transparent;
  border: none;
  color: #337ab7;
  padding-left: 4px;
}
button.link-btn:hover {
  text-decoration: underline;
  color: #23527c;
}
.top-margin {
  margin-top: 20px;
}
.margin-200 {
    margin: 100px 0;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.not-set {
    color: #c55;
    font-style: italic;
}
.ago {
    color: #aeaeae;
    font-style: italic;
    font-size: 0.9em;
}
.danger {
    background-color: #ff8c8c !important;
    color: #730404;
    font-weight: bold;
}


/*
 *  Media Queries
 *******************************/

/* Desktops, laptops and iPads (landscape) ----------- */ 
@media(max-width:1024px) {
    .header-row {
        display: none;
    }
    .list-row {
        flex-direction: column;
    }
    .mb-label {
        display: inline;
        font-weight: bold;
    }
    .col-60,
    .col-100,
    .col-150,
    .col-180,
    .col-240,
    .col-300 {
        width: 100% !important;
    }
    .list-row {
        padding: 20px;
    }
    .list-row p {
        padding: 0px;
    }
    .list-row button.action {
        width: 50px;
        margin-left: -10px;
    }
    .col-60.button {
        padding: 0 !important;
    }
}

/* iPads (portrait) ----------- */
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .detail-head {
        display: flex;
        flex-direction: column;
    }
    .detail-head .name {
        float: none;
        width: 100%;
    }
    .detail-head .actions {
        text-align: right;
        margin-top: 15px;
    }
    #profile-email {
        width: 100%;
    }
    #user-select {
        width: 100%;
        max-width: 300px;
    }
}
