/*************
 * Title:    IBNet Group User Area Design
 * Designer: Steve McKinley
 * Website:  https://www.ibnet.org
 *
 ************/

/*
 * Left menu and content boxes
--------------------------------- */
.active-leftmenu-item {
  background-color: #90a4ae;
}
.active-leftmenu-item a:hover {
  background-color: #CFD8DC !important;
}
.active-leftmenu-item a {
  color: #fff !important;
}
.sidebar-menu>li>a>.fa, 
.sidebar-menu>li>a>.glyphicon {
  color: #ff9800;
}
.boxes {
  max-width: 300px;
  padding-left: 0px;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-solid {
  -webkit-box-shadow: 0 0 0 1px #9a9a9a !important;
  -ms-box-shadow: 0 0 0 1px #9a9a9a !important;
  box-shadow: 0px 1px 5px 1px #9a9a9a !important;
  border-top: 0;
}
.box-header {
  background-color: #365f89;
  color: #fff !important;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.box.box-primary {
  -webkit-box-shadow: 0 0 0 1px #9a9a9a;
  -ms-box-shadow: 0 0 0 1px #9a9a9a;
  box-shadow: 0px 1px 5px 1px #9a9a9a;
  border-top-color: #365f89;
}
.btn-primary-nw {
  background-color: #ffa726 !important;
  border-color: #ff8f00 !important;
  border-radius: 4px;
  color: #fff;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
div.box-body.center {
  display: flex;
  justify-content: center;
}
.control-sidebar-subheading {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  background-color: #fb8c00;
  border-color: #ff8f00;
}
.modal-header {
  height: 80px;
  background-color: #365f89;
}
.modal-header h3 {
  color: #fff !important;
}
.modal-header .close {
  position: relative;
  left: 20px;
}
.shadow {
  box-shadow: 0 4px 10px rgba(0,0,0,0.25), 
              0 4px 8px rgba(0,0,0,0.22);
}


/*
 * My Groups
--------------------------------- */
.group-list-container {
  margin: -30px 0 100px;
}
.group-card {
  width: 80%;
  margin: 60px 0;
  overflow: auto;
}
.group-card-header {
  width: 100%;
  color: #fff;
}
.group-header-left {
  height: 20px;
  width: 70%;
  float: left;
  background-color: #365f89;
  border-right: 1px solid #000;
  border-top-left-radius: 10px;
  padding: 8px 10px;
}
.group-header-right {
  height: 20px;
  width: 30%;
  float: right;
  background-color: #000;
  border-top-right-radius: 10px;
  padding: 8px 10px;
}
.group-card-body {
  width: 100%;
  position: relative;
  overflow: auto;
}
.group-info {
  width: 70%;
  height: 100%;
  min-height: 250px;
  float: left;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 2px solid #bbb;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 2%;
}
.group-info .picture-name {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px;
}
.group-info .picture-name.joined {
  margin: 20px 0;
}
.group-info img {
  float: left;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 5px 4.166667% 5px 0; /* 20px/480px */
}
.group-info h1 {
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 10px;
}
.group-info .picture-name a {
  color: inherit;
  text-decoration: none;
}
.group-info p.group-description {
  color: #757575;
  font-size: 0.9em;
}
.group-info .notification {
  height: 28%;
  position: relative;
  border-top: 1px solid #bbb;
  padding: 4% 0;
}
.group-info .notification p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
}
.group-links {
  width: 30%;
  height: 100%;
  float: right;
  border-right: 1px solid #bbb;
  border-bottom: 2px solid #bbb;
  border-bottom-right-radius: 10px;
  background-color: #efefef;
  padding: 10px 2%;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 0.8em;
}
.group-links p {
  margin: 5px;
}
.group-links button.link-btn {
  text-align: left;
}
.group-links .label-danger {
  border-radius: 50%;
  font-weight: normal;
}
.group-links p.small {
  color: #9E9E9E;
  font-size: 0.8em;
  margin: 0px 5px;
}
.group-links hr {
  margin: 10px 0 4px;
  border-color: #BDBDBD;
}
#show-result {
  margin-top: 10px;
}
.item-list {
  width: 330px;
  padding: 10px;
  background-color: #FCFCFC;
  border: 1px solid #ECECEC;
}
.item-row {
  text-align: left;
  padding: 0 15px;
}
.item-row span {
  float: right;
  top: 4px;
}
.item-row span:hover {
  color: #FF0000;
}
.item-row:hover {
  background-color: #DFDFDF;
}
#new-group {
  margin: 30px 0;
}
.group-search {
  display: flex;
  width: 400px;
  margin: -10px 0 60px;
}
.group-search .form-group {
  width: 100%;
}
#group-search input[type="text"] {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}
#group-search-form button {
   background: transparent url(../images/group/search_icon_gr.png) center center no-repeat;
   border: none;
   height: 35px;
   width: 35px;
   margin-left: 10px;
   position: relative;
   top: 20px;s
}
.group-search-icon {
  padding-top: 10px;
}
.group-search-results {
  height: 100%;
  width: 80%;
  margin: -60px 0 200px 0;
}
.group-search-item {
  border: 1px solid #bababa;
  border-radius: 10px;
  padding: 10px;
  background-color: #f3f2f2;
  margin: 30px 0;
  display: flex;
}
.search-item-img {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-item-img img {
  border-radius: 50%;
  width: 80px;
  margin-bottom: 20px;
}
.search-item-img {
  color: lightgray;
  font-size: 2.5em;
}
.search-item-text {
  width: 80%;
}
.search-item-text p.ministry {
  color: gray;
  font-style: italic;
  margin-top: -10px;
}
.member-picture-name {
  display: flex;

}
.member-picture-name img {
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 20px;
}
.member-picture-name h3 {
  margin-top: 40px;

}
.member-list {
  width: 50%;
}
.member-card {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}
.member-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 15px;
}
.member-name {
  padding: 10px;
  line-height: 12px;
  width: 300px;
  height: 90px;
}
.member-name p.title {
  font-size: 1.3em;
}
.member-name p.subtitle {
  font-size: 0.9em;
  color: gray;
  font-style: italic;
}
.member-actions {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  width: 100px;
  margin-left: 40px;
  align-items: center;
}
.member-actions .btn {
  background-color: #17a2b8;
  color: #fff;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin: 2px 0;
}
.btn-member-action:hover {
  background-color: #138496;
}
.join-picture-name {
  display: flex;
  align-items: center;
}
.join-picture-name img {
  border-radius: 50%;
  width: 100px;
  margin: 20px 20px 20px 0;
}
button.invite-join,
a.invite-join {
  margin: 20px 20px 20px 0;
}
a.invite-join {
  position: relative;
  top: 2px;
}


/*
 * Manage Categories
--------------------------------- */
.category-item {
  margin: 20px 0;
  border: 1px solid gray;
  padding: 15px;
  line-height: 0.8em;
  border-radius: 5px;
  color: #535353;
}
.category-item p {
  margin-left: 15px;
}
.category-item button {
  font-size: 0.9em;
}
.category-item span {
  font-size: 0.9em;
  color: gray;
}
.category-child {
  padding-left: 40px;
}
.category-child .category-item {
  width: 100%;
}
.color-picker-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.category-description {
  color: gray;
  font-size: 0.9em;
}
.category-edit-buttons {
  display: flex;
  justify-content: space-between
}
.category-edit-buttons button {
  margin: 0;
}
button.red,
button.red:hover {
  background-color: #dc2727;
}
.pointer {
  cursor: pointer;
}
p[id^="category-topic"] i {
  width: 8px;
}
div[id^="topics-container-"] {
  margin-left: 40px;
  display: none;
}
div[id^="list-item-"] {
  background-color: #f6f6f6;
  border-left: 5px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
div[id^="list-item-"] a {
  margin-left: 10px;
}
.topic-status {
  color: #aaa;
  font-size: 0.9em;
  margin-right: 5px;
}


/*
 * Group Settings
--------------------------------- */
.feature-container {
  margin: 80px 0;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.feature-image {
  display: inline-block;
  min-width: 250px;
  height: 125px;
}
.prayer {
  background: url(../images/group/prayer.jpg) no-repeat;
}
.calendar {
  background: url(../images/group/calendar.jpg) no-repeat;
  height: 125px;
}
.group-notification {
  background: url(../images/group/notification.jpg) no-repeat;
  height: 125px;
}
.document {
  background: url(../images/group/document.jpg) no-repeat;
  height: 125px;
}
.chat {
  background: url(../images/group/chat.jpg) no-repeat;
  height: 125px;
}
.forum {
  background: url(../images/group/forum.jpg) no-repeat;
  height: 125px;
}
.forum-tips {
  padding: 10px;
}
button#forum-tips-id {
  float: right;
  font-size: 2em;
  color: #588eb0;
  top: 20px;
  position: relative;
}
.forum-tips .tip {
  display: flex;
  margin-bottom: 10px;
}
.forum-tips i {
  margin-right: 10px;
  color: blue;
}
.forum-tips .hint {
  background-color: #f0f0f0;
  margin-top: 30px;
  padding: 10px;
}
.update-feature {
  background: url(../images/group/update.jpg) no-repeat;
  height: 125px;
}
.donation {
  background: url(../images/group/donate.jpg) no-repeat;
  height: 125px;
}
.feature-text {
  padding: 0 40px;
}
.feature-image .cbx-container {
  margin: 5px;
}
.feature-image .cbx-icon {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/*
 * Prayer List
--------------------------------- */
.new-request {
  width: 500px;
  margin: 0;
}
#request-toggle {
  font-size: 1.5em;
}
#prayer-description {
  width: 100%;
}
.select2-selection__rendered {
  margin: 1px 0 !important;
}
button.longer {
  width: 100px;
}
.box-footer {
  margin-bottom: -20px;
}
.link-modal-body {
  padding: 12px;
}
.email-request-modal-body {
  padding: 20px;
}
.email-request-modal-body img {
  -webkit-box-shadow: 0px 1px 2px 2px #ccc !important;
  -ms-box-shadow: 0px 1px 2px 2px #ccc !important;
  box-shadow: 0px 1px 2px 2px #ccc !important;
  width: 100%;
}
.ex-email, .contact-email {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.contact-email {
  font-size: 0.9em;
}
.ex-email input,
.contact-email input,
.ex-email .text-area {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
}
.ex-email button {
  background-color: #0b4396;
  border: 1px solid #0b4396;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 80px;
}
#add-tag .modal-dialog {
  width: 250px;
}
#email-request-id,
#add-tag button {
  margin: 15px 0px;
}
#email-request-id:focus,
#add-tag:focus {
  outline: none;
}
.tag-row {
  text-align: left;
  padding: 0 15px;
}
.tag-row span {
  float: right;
  top: 4px;
}
.tag-row span:hover {
  color: #ff0000;
}
.tag-row:hover {
  background-color: #3c8dbc75;
  color: #fff;
}
.chbx-alert {
  margin-bottom: 10px;
}
#alert-id div.help-block,
#summary-id div.help-block {
  display: none;
}
.box-filter-select {
  margin: 15px 0;
}
.prayer-list {
  -webkit-box-shadow: 0 0 0 1px #9a9a9a;
  -ms-box-shadow: 0 0 0 1px #9a9a9a;
  box-shadow: 0px 1px 5px 1px #9a9a9a;
  border: none;
}
.list-empty {
  height: 200px;
  color: #607D8B;
}
.prayer-list .summary {
  font-size: 0.9em;
  color: gray;
  margin-top: 10px;
  display: inline;
}
.switch-view {
  float: right;
}
.switch-view span {
  position: relative;
  top: -2px;
}
.prayer-item {
  margin: 20px 0;
}
.prayer-item p.answer-date {
  color: #9E9E9E;
  text-decoration: underline dotted;
  margin-bottom: 0px;
}
.prayer-item p.request {
  font-size: 1.1em;
  color: #ff9800;
  margin-bottom: -8px;
}
.prayer-item.answered p.request {
  color: #1E88E5;
  margin-top: 20px;
}
.prayer-item p.request span,
.prayer-item p.answer-date span,
.prayer-item p.name-date span {
  font-size: 0.8em;
  color: #9a9a9a;
  outline: none;
}
.prayer-item p.request button {
  margin: 0 -2px;
  padding: 0;
}
.prayer-item p.name-date {
  margin: 0px;
  font-size: 0.9em;
  color: #9e9e9e;
  display: inline-block;
}
.prayer-item p.name-date a {
  color: #9a9a9a;
  text-decoration: underline dashed;
}
.prayer-item div.duration {
  height: 6px;
  width: 6px;
  margin: 0 0 1px 5px;
  border-radius: 50%;
  display: inline-block;
}
.prayer-description {
  margin: 10px 0;
  font-size: 0.95em;
}
.prayer-item .update {
  padding: 10px 0 0 0;
}
.prayer-item .update .glyphicons {
  color: #ffa92a;
}
.prayer-item .update .description {
  margin: -10px 0 10px 34px;
  font-size: 0.95em;
}
.prayer-item.answered .update .glyphicons {
  color: #1E88E5;
}
.export-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: -70px;
  left: -20px;
  margin-bottom: -70px;
  padding: 0 40px;
}
.export-controls {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.export-controls .cbx-label {
  color: #fff;
  margin-top: 4px;
}
.export-controls .cbx-container .cbx-lg {
  width: 34px;
  height: 34px;
  font-size: 24px;
}
.export-controls .cbx-container .cbx-active {
  background-color: white;
  color: #9e9e9e;
}
.export-controls span.select2 {
  margin: 0 20px !important;
}
#export-modal div.modal-dialog {
  width: 17cm;
}
#export-modal div.list-view {
  margin: 0 0 0 -12px;
}
#loading-id {
  background-color: #FFF59D;
  font-size: 1.4em;
  margin-top: -28px;
  padding: 4px;
}
.page {
  font: 12px "Open Sans";
  min-height: 29.7cm;
  padding: 2cm;
}
/*span.select2-container {
  margin-top: 10px !important;
}*/
#tag-id {
  margin-top: -5px;
}
.prayer-item p.tag {
  font-size: 0.9em;
  color: #9e9e9e;
  font-style: italic;
}
span.tag-dot:after {
  content: " \00B7 ";
}
span.tag-dot:last-child:after {
  content: "";
}
.sort {
  display: flex;
  justify-content: space-between;
}
.sort a,
.reset a {
  color: #90a4ae;
}
.sort a:hover,
.reset a:hover {
  color: #ff9800;
}
.reset {
  margin: 10px 0 -10px 0px;
  display: flex;
  justify-content: flex-end;
}
.reset a {
  position: relative;
  top: -3px;
}
.pagination > .active > a {
  background-color: #365f89;
  border-color: #90a4ae;
}


/*
 * Calendar
--------------------------------- */
ul.new {
  padding-left: 15px;
}
ul.new li {
  font-size: 0.8em;
  color: gray;
}
ul.upcoming li {
  list-style: none;
  margin: 15px 0px 15px -15px;
}
ul.upcoming .icon {
  color: #90a4ae;
  margin-left: -18px;
  text-shadow: 1px 1px 5px gray;
}
.new-event-modal,
.edit-event-modal {
  width: 80%;
  margin: 15px 10%;
}
.new-event-modal-body,
.edit-event-modal-body {
  padding: 15px;
}
.fc-toolbar.fc-header-toolbar {
  background-color: #365f89;
}
.fc-center h2 {
  color: #fff;
  text-shadow: 1px 1px #000;
}
.field-groupcalendarevent-all_day {
  position: relative;
  top: 20px;
  padding: 5px 10px;
}
.no-padding {
  padding: 0 !important;
}
.box-body .fc {
  margin-top: 5px;
}
.fc-toolbar {
  padding: 10px;
  margin: 0;
}
.view-event-modal-header {
  height: 30px !important;
  background-color: #3c8dbc;
}
.view-event-modal-header span {
  position: relative;
  left: -12px !important;
  color: white;
}
.view-event-modal-header button {
  left: 12px !important;
  margin-top: -2px !important;
}
#view-event-modal .modal-content {
  border-bottom-left-radius: 8px;
}
.view-event h4 {
  font-weight: bold;
  color: #666;
}
.view-event p.date {
  color: #337ab7;
  margin-top: -10px;
}
.view-event .remove {
  color: red;
}
.view-event .links {
  text-align: right;
}
.time {
  font-size: 0.8em;
  color: #ec407a;
  text-decoration: underline;
}
.import-modal-header .glyphicons {
    position: relative;
    top: -8px;
}
#import-content li {
  list-style: none;
  padding: 10px;
  color: #9e9e9e;
  word-break: break-all;
}
#import-content li button {
  color: #9e9e9e;
}
p#import-link {
  text-align: center;
  padding: 0 10px 20px;
}
#import-content span.url {
  text-decoration: line-through;
}
p.shaded {
  background-color: #f0f0f0;
  font-size: 0.9em;
  padding: 10px;
}


/*
 * Update
--------------------------------- */
.update-item .container {
  display: flex;
  height: 40px;
  width: 100%;
  color: #607D8B;
  margin-bottom: 30px;
  padding: 0;
}
.container .name-date {
  margin-top: -5px;
  margin-left: 10px;
}
p.name {
  margin-bottom: -2px;
  font-size: 1.2em;
} 
p.name a {
  color: #607D8B;
}
p.name a:hover {
  color: #ff9800;
}
.update-item {
  width: 80%;     /* 640px/800px */
  margin-bottom: 30px;
  padding: 20px 2.777778% 0;  /* 20px/720px */
  display: inline-block;  /* prevents margin collapsing */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #fff;
  border-radius: 5px;
}
.update-date {
  margin-top: -10px;
}
.update-links {
  padding: 10px 0;
  border-top: 1px solid #d0d0d0;
  margin-top: 40px;
}
.update-links a {
  padding: 0 10px;
  font-size: 1.4em;
  color: #607D8B;
}
.update-links a:hover {
  color: #ff9800;
}
.update-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 40px;
}
.update-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * Prayer List
--------------------------------- */
.notice-container {
  width: 70%;
}


/* Misc */
button.link-btn {           /* style button to look like link */
  background-color: transparent;
  border: none;
  color: #337ab7;
  padding-left: 4px;
}
button.link-btn:hover {
  text-decoration: underline;
  color: #23527c;
}
button.link-btn:focus {
  outline: none;
}
.left {
  text-align: left;
}
img.avatar {
  width: 40px;
  border-radius: 50%;
}
.man-required::after {
  content: " *";
  color: red;
}
.show-result {
  width: 100%;
  padding: 0 20%;
}
.loader {
  border: 1px solid #ddd;
  border-radius: 50%;
  border-top: 1px solid #888;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 0.4s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Remove pins on google places autocomplete */
.pac-icon { 
  width: 0;
  background-image: none;
}




/*
 * Media Queries
---------------------------------------------------------------------------------------------------- */

/* UHD (landscape) ----------- */
@media only screen and (min-device-width: 1920px) {
  
}

/* Desktops, laptops and iPads (landscape) ----------- */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {
  .update-item {
    width: 100%;
  }
  .group-card {
    width: 100%;
  }
  .group-card-body {
    height: 200px;
    font-size: 0.9em;
  }
  .group-info {
    font-size: 0.9em;
    min-height: unset;
    text-align: center;
  }
}

/* iPads (portrait) ----------- */

@media only screen and (max-width: 768px) {
  .group-card {
    margin: 100px 0;
  }
  .group-card-body {
    height: 220px;
  }
  .group-info img {
    width: 60px;
    height: 60px;
  }
  .group-info h1 {
    font-size: 1em;
  }
  .group-info p {
    font-size: 0.7em;
  }
  .group-links {
    font-size: 0.7em;
  }

}

/* iPhones (portrait and landscape) ----------- */

@media only screen and (max-width: 480px) {
  .space-below {
    margin-bottom: 10px;
  }
  li.dropdown.user.user-menu {
    margin-right: 10px !important;
  }
  .group-search {
    width: 90%;
  }
  .group-header-left,
  .group-header-right {
    width: 50%;
  }
  .group-info {
    width: 50%;
    overflow: hidden;
  }
  .group-info .picture-name {
    flex-direction: column;
  }
  .group-links {
    width: 50%;
  }
}