/*************
 * Title:    IBNet Network Admin Area Desgin
 * Designer: Steve McKinley
 * Website:  https://www.ibnet.org
 *
 ************/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:400,300,700);

/*
 * Nav Bar
 ************************************/
.skin-blue-light .main-header .logo, 
.skin-blue-light .main-header .navbar {
  background-color: #2c2b2a !important;
}

li.dropdown.user.user-menu {
    width: 40px !important;
    margin-right: 80px !important;
}
li.dropdown.user.user-menu a:hover,
li.dropdown.user.user-menu a:focus,
li.dropdown.user.user-menu a:active {
    background-color: transparent !important;
}
.navbar-nav>.user-menu .user-image {
    width: 35px !important;
    height: 35px !important;
    margin-top: -8px !important;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
  width: 215px !important;
  padding: 10px !important;
  text-align: center !important;
  border-radius: 10px !important;
  background-color: #eeec !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
  right: -24px !important;
  top: 56px !important;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 13px;
  border: 10px solid transparent;
  border-bottom-color: #eeec;
  margin-top: -30px;
  margin-left: 160px;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
  border: none !important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body p {
  font-size: 18px !important;
}
.user-body hr {
  border-top-color: #bbb;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
  background-color: #dc9f27 !important;
  border: 0px solid #000 !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
  padding: 10px 30px !important;
  margin: 2px 0 !important;
  text-align: center !important;
  -webkit-transition: all 0.7s ease !important;
  transition: all 0.7s ease !important;
  width: 100% !important;
  font-size: 1.2em !important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a.btn-dropdown {
  color: #fff !important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a.btn-dropdown:hover {
  background-color: #2a4b6d !important;
  color: #fff !important;
}


/*
 * Dashboard
--------------------------------- */
.feature-container {
  margin: 80px 0;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.feature-image {
  display: inline-block;
  min-width: 250px;
  height: 125px;
}
.prayer {
  background: url(../images/network/prayer.jpg) no-repeat;
}
.calendar {
  background: url(../images/network/calendar.jpg) no-repeat;
  height: 125px;
}
.notification {
  background: url(../images/network/notification.jpg) no-repeat;
  height: 125px;
}
.document {
  background: url(../images/network/document.jpg) no-repeat;
  height: 125px;
}
.chat {
  background: url(../images/network/chat.jpg) no-repeat;
  height: 125px;
}
.forum {
  background: url(../images/network/forum.jpg) no-repeat;
  height: 125px;
}
.update-feature {
  background: url(../images/network/update.jpg) no-repeat;
  height: 125px;
}
.donation {
  background: url(../images/network/donate.jpg) no-repeat;
  height: 125px;
}
.feature-text {
  padding: 0 40px;
}
.feature-image .cbx-container {
  margin: 5px;
}
.feature-image .cbx-icon {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/*
 * My Networks
--------------------------------- */
.network-list-container {
  margin: -30px 0 100px;
}
.network-card {
  width: 80%;
  margin: 60px 0;
  overflow: auto;
}
.network-card-header {
  width: 100%;
  color: #fff;
}
.network-header-left {
  height: 20px;
  width: 70%;
  float: left;
  background-color: #365f89;
  border-right: 1px solid #000;
  border-top-left-radius: 10px;
  padding: 8px 10px;
}
.network-header-right {
  height: 20px;
  width: 30%;
  float: right;
  background-color: #000;
  border-top-right-radius: 10px;
  padding: 8px 10px;
}
.network-card-body {
  width: 100%;
  position: relative;
  overflow: auto;
}
.network-info {
  width: 70%;
  height: 100%;
  min-height: 215px;
  float: left;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 2px solid #bbb;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 2%;
}
.network-info .picture-name {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px;
}
.network-info .picture-name.joined {
  margin: 20px 0;
}
.network-info img {
  float: left;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 5px 4.166667% 5px 0; /* 20px/480px */
}
.network-info h1 {
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 10px;
}
.network-info .picture-name a {
  color: inherit;
  text-decoration: none;
}
.network-info p.network-description {
  color: #757575;
  font-size: 0.9em;
}
.network-info .notification {
  height: 28%;
  position: relative;
  border-top: 1px solid #bbb;
  padding: 4% 0;
}
.network-info .notification p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
}
.network-links {
  width: 30%;
  height: 100%;
  float: right;
  border-right: 1px solid #bbb;
  border-bottom: 2px solid #bbb;
  border-bottom-right-radius: 10px;
  background-color: #efefef;
  padding: 10px 2%;
  top: 0;
  right: 0;
  position: absolute;
}
.network-links p.date {
  font-size: 0.9em;
  margin: 0px;
}
.network-links p.date.last {
  margin-bottom: 10px;
}
.network-links p {
  margin: 5px;
}
.network-links .label-danger {
  border-radius: 50%;
  font-weight: normal;
}
.network-status {
  color: #9E9E9E;
  font-size: 0.8em;
}
.network-status p {
  margin: 0px 5px;
}
.network-status hr {
  margin: 10px 0 4px;
  border-color: #BDBDBD;
}
.item-list {
  width: 330px;
  padding: 10px;
  background-color: #FCFCFC;
  border: 1px solid #ECECEC;
}
.item-row {
  text-align: left;
  padding: 0 15px;
}
.item-row span {
  float: right;
  top: 4px;
}
.item-row span:hover {
  color: #FF0000;
}
.item-row:hover {
  background-color: #DFDFDF;
}
#new-network {
  margin: 30px 0;
}
.network-search {
  display: flex;
  width: 400px;
  margin: -10px 0 60px;
}
.network-search .form-group {
  width: 100%;
}
#network-search input[type="text"] {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}
#network-search-form button {
   background: transparent url(../images/network/search_icon_gr.png) center center no-repeat;
   border: none;
   height: 35px;
   width: 35px;
   margin-left: 10px;
   position: relative;
   top: 20px;s
}
.network-search-icon {
  padding-top: 10px;
}


/*
 * Footer
 ************************************/
.footer {
  height: 100px;
  background-color: #2c2b2a;
  color: #fff;
  font-size: 1.1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}
.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 -25px 0;
}
.footer a {
  color: #dc9f27;
}
.footer-links a {
  margin: 0 10px;
}
.footer a:hover, .footer a:active, .footer a:focus {
  text-decoration: underline;
  color: #dc9f27;
}
.footer-social .social {
  color: #444;
  float: right;
  margin: 0 5px;
  font-size: 1.2em;
}
.footer-social .social:hover {
  color: #dc9f27;
}



/*
 * Miscellaneous
 ************************************/
 /* Remove pins on google places autocomplete */
.pac-icon { 
  width: 0;
  background-image: none;
}



/*
 * Media Queries
---------------------------------------------------------------------------------------------------- */

/* UHD (landscape) ----------- */
@media only screen and (min-device-width: 1920px) {

}

/* Desktops, laptops and iPads (landscape) ----------- */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {
  .network-card {
    width: 100%;
  }
  .network-card-body {
    height: 200px;
    font-size: 0.9em;
  }
  .network-info p {
    font-size: 0.9em;
  }
  .network-links p {
    font-size: 0.9em;
  }
  .network-links .link-btn {
    font-size: 0.9em;
  }
}

/* iPads (portrait) ----------- */

@media only screen and (max-width: 768px) {
    .network-card {
      margin: 100px 0;
    }
    .network-card-body {
      height: 220px;
    }
    .network-info img {
      width: 60px;
      height: 60px;
    }
    .network-info h1 {
      font-size: 1em;
    }
    .network-info p {
      font-size: 0.7em;
    }
    .network-links p {
      font-size: 0.7em;
    }
    .network-links .link-btn {
      font-size: 0.7em;
    }
    .footer {
      height: 220px;
    }
    .footer .container {
      display: flex;
      flex-direction: column;
    }
    .footer .social {
      top: 0;
    }
    .footer .designed-by {
      float: none;
    }
}

/* iPhones (portrait and landscape) ----------- */

@media only screen and (max-width: 480px) {
  li.dropdown.user.user-menu {
    margin-right: 10px !important;
  }
  .network-search {
    width: 90%;
  }
}

/* FOOTER FIX */
#main-wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}