/*************
 * Title:    IBNet Custom Design
 * Designer: Ben Smith
 * Company:  IFB Design
 * Website:  http://www.ifbdesign.com
 * 
 * CSS Layout
 * - Default Yii Theme Style
 * - Custom Styles
 * -- Fonts
 * -- Layouts
 * ---- Header
 * ---- Body
 * ---- Footer
 * ---- Pages
 * ------ Register
 * ------ Login
 * ------ Search/Browse
 * ------ Profiles
 *
 * Design
 * Font(s) - Source Sans Pro
 * Color(s)- #dc9f27 (yellow)
 *           #2c2b2a (black)
 *           #2a4b6d (blue)
 *
 *
 *
 * Design Modified by: Steve McKinley
 * -----browse page 12/2/17
 * -----footer 3/30/18
 ************/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:400,300,700);

html,
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 16px;
}

.wrap {
  overflow-x: hidden
}

.wrap > .container {
    padding: 50px 15px 20px;
}

.index-wrap {
  background-color: #efefef;
}

.index-wrap > .container {
    padding: 50px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

button:focus {outline: none !important;}

/*=====================
  Custom Layout Styles 
  ====================*/
  
  /* Fonts */
  h1, .h1, h2, .h2, h3, .h3 {
    color: #2a4b6d;
    font-family: 'PT Sans';
  }
  h1 {
    color: #dc9f27;
    font-weight: 700;
  }
  h3 a {
   color: inherit; 
  }
  .btn-home, .btn-primary {
    color: #fff;
    background-color: #dc9f27;
    border: 0px solid #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 10px 30px;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .btn-home:hover, .btn-primary:hover {
    background-color: #2a4b6d;
    color: #fff;
  }
  .btn-primary:active {
    background-color: green;
  }
  .btn-primary {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .btn-form {
    color: #6c8296;
    background-color: #EEE;
    border: 1px solid #AAA;
  }
  .btn-form:hover {
    background-color: #365f89;
    color: #fff;
    border: 1px solid #365f89;
  }
  .edit-event {
    padding: 20px 40px !important;
  }
  td.action-buttons {
    border-top: none !important;
    padding: 0 0 20px 20px !important;
  }

  /* 
   * Layout
   ------------------------------- */
  #main-wrap {
    margin-top: 90px;  
  }

  /* 
   * Form
   ------------------------------- */
  input, input.form-control {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0px 20px;
  }
  .intl-tel-input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
  }
  #profile-phone {
    padding: 5px 20px 5px 55px;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  .edit a {
    color: #AAA !important;
    text-decoration: none !important;
  }
  #btn-form-submit {
    margin-top: 28px;
  }
  #chkbx_cp_pastor {
    margin-top: -12px;
  }
  .email {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #6c8296;
    text-align: center;
    margin: 20px 10px;
    padding: 0 10px 10px 10px;
  }
  .email .modal-body {
    text-align: left;
    padding: 0 10px 10px 10px;
  }
  .email .modal-footer {
    text-align: left;
    padding: 0;
  }
  .modal-footer #email-id {
    margin-top: 19px;
  }
  .no-label {
    margin-top: -22px;
  }
  .no-label-32 {
    margin-top: -32px;
  }

  /* 
   * Header 
  ------------------------------------*/
 .navbar {
  padding: 20px;
 }
 .navbar-brand {
  background: url(../images/ibnet_icon.png) left center no-repeat;
  padding-left: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
 }
 .navbar-inverse .navbar-brand {
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
 }
 .navbar li a {
  font-size: 1.3em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
  border-bottom: 4px solid #dc9f27;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #dc9f27;
}
a.navbar-user {
  padding: 7px 0 0 20px !important;
}
a.navbar-user, 
a.navbar-user:hover,
a.navbar-user:focus,
a.navbar-guest,
a.navbar-guest:hover,
a.navbar-guest:focus {
  background-color: transparent !important;
}
.navbar-user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}  
.navbar-guest img {
  height: 35px;
  width: 35px;
  margin-top: -6px;
  border-radius: 50%;
  margin-left: 5px;
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}
.navbar-guest img:hover,
.navbar-guest img:focus,
li.dropdown.open img {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
.dropdown-menu {
  width: 215px;
  padding: 10px;
  text-align: center;
  border-radius: 10px !important;
  background-color: #eeec;
}
.dropdown-menu:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left:13px;
  border: 10px solid transparent;
  border-bottom-color: #eeec;
  margin-top: -30px;
  margin-left: 160px;
}
.dropdown-menu hr {
  border-top-color: #bbb;
}
#dropdown-menu-user {
  top: 130%;
  right: -12px;
}
.dropdown-menu button,
a.register-link,
#dropdown-menu-user a {
  width: 100%;
  font-size: 1.2em;
  margin: 2px 0;
}
#navbar-login-form input {
  height: 40px;
  width: 100%;
  margin: 5px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  outline: none !important;
}
#login-result a {
  font-size: 1em;
}
.abbreviated {
  display: none;
}
.header-container {
  height: 225px;
  margin-top: -100px;
}
.header-img {
  height: 100%;
  background: url(../images/content/fall-header.jpg);
  margin-top: 65px;
  /* Stretch image outside of containing div */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.header-img:first-child img {
  position: relative;
  float: left;
  z-index: 100;
  top: 102px;
  left: 25%;
}
#search-box {
  position: absolute;
  margin-top: 56px;
  width: 380px;
  margin-left: 55%;
}
 .input-group {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
 }
 #search-form {
    margin-top: 60px;
 }
 #search-form input[type="text"] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 }
 #search-form button {
    background: transparent url(../images/search_icon.png) center center no-repeat;
    border: none;
    height: 35px;
    width: 35px;
    margin-left: 10px;
 }
 #search-form .form-group {
    float: left;
    width: 85%;
 }
 #search-form .input-group-btn {
    float: right;
    width: 15%;
 } 
 #profilesearch-term {
    height: 40px;
 }
nav.navbar{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
nav.navbar.shrink {
    padding: 1px 20px;
}
nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 14px;
}
nav.shrink .navbar-brand {
  font-size: 20px;
}
nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}
nav.shrink a.navbar-user {
  padding: 3px 0 0 20px !important;
}
.header-wh, .header-wh-mb, .header-wh-sm {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #bbb;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.header-wh-mb, .header-wh-sm {
  display: none;
}
.header-wh p, .header-wh-mb p, .header-wh-sm p {
  font-size: 0.9em;
  font-style: italic;
  color: #605f5f;
  width: 770px;
  margin-left: calc(50% - 385px);
  padding-top: 4px;
}

 /*
  * Footer 
  *-----------------------------*/
.footer {
  height: 100px;
  background-color: #2c2b2a;
  margin-top: 20px;
  color: #fff;
  font-size: 0.9em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}
.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 -25px 0;
}
.footer a {
  color: #dc9f27;
}
.footer-links a {
  margin: 0 10px;
}
.footer-social .social {
  color: #444;
  float: right;
  margin: 0 5px;
  font-size: 1.2em;
}
.footer-social .social:hover {
  color: #dc9f27;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(34, 34, 34, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

/*
  * Pages 
  *-----------------------------*/


/*
  * Index
  *-----------------------------*/
.new-profile {
  width: 100%;
  margin: 60px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} 
.new-profile h3 {
  margin: 5px 0 0;
}
.new-profile p {
  margin: 0;
}
.new-profile img {
  position: relative;
  top: -28px;
  float: left;
  margin: 0 25px 40px 0;
}
.new-profile a.get-started {
  float: right;
  margin: 10px 0 40px 0;
  border-radius: 10px;
  background-color: #008000;
  color: #fff;
}  
.blog-container {
  display: flex;
  margin: 20px 0;
}
.blog-container h3 {
  font-family: 'Old Standard TT';
}
.blog-card {
  min-height: 400px;
  width: 30.666667%;
  margin: 0 2%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}
.blog-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.blog-card:first-child {
  margin-left: 0;
}
.blog-card:last-child {
  margin-right: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  text-decoration: none;
}
.blog-card img {
  width: 100%;
}
.blog-crop {
  height: 206px;
  overflow: hidden;
}
.blog-card p {
  font-size: 0.9em;
}
.blog-card .comments {
  float: right;
  font-size: 0.8em;
  color: #bbb
}
.blog-card .comments .glyphicons {
  margin-right: -6px;
}

/*
  * Browse
  *-----------------------------*/
.browse {
  background-color: #dc9f27;
  width: 100%;
  position: absolute;
  left: 0;
}
.browse h1 {
    color: #FFF;
    padding:0 0 0 80px;
    background-image: url(../images/browse.png);
    background-repeat: no-repeat;
    margin: 20px 0;
}
.browse h4 {
    color: #000;
}
.browse > .container {
  padding: 20px 15px 15px;
}
.clearbrowse {
  height: 110px;
}
#mb {
  display: none;
}
.browse-subcats a {color: #fff;}
#map {
  width: 100%;
  height: 200px;
  background-color: #444;
}
.alert-browse .alert {
  padding: 8px;
  text-align: center;
}
.alert-browse .alert-cat {
  margin-top: 100px;
  text-align: center;
}
.ui-slider-handle { 
    border-color: #337ab7 !important; 
}
.ui-slider-range { 
    background: #337ab7;
}
#slider-info {
    position: absolute;margin-left: 80px;
}
#slider-value {
    font-weight: bold;
}
.left-block {
    margin-bottom: 20px;
}
.states a {
    width: 54px;
    display: inline-block;
}
.states a.nowidth {
    width: auto;
}
.Browse, .settings p, .profile-form, .profile-form label {
    color: #6c8296;
}
.browse-card {
    width: 80%;     /* 676px/845px */
    height: 160px;
    margin: 10px 2%;  /* 17px/845px */
    padding: 40px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    display: inline-block;  /* prevents margin collapsing */
    background-color: #fff;
}
.browse-card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float:left;
    position: relative;
    top: -10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 0 7.100591% 0 8.136095%;   /* 48px/676px    55px/676px */
}
.browse-card h4 a {
    color: #dc9f27;
}
.browse-card h4 a:hover {
    color: #2a4b6d;
}
.browse-card .icon {
    color: #605f5f;
    position: relative;
    top: -4px;
}
.browse-card p {
    margin-bottom: 0px;
    position: relative;
    top: -12px;
    left: 8px;
    color: #605f5f;
}
.Browse .pagination > li > a, .pagination > li > span {
    border: 0px solid #fff;
}
.Browse .pagination > .active > a {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*
 * Register
 *-------------------------------*/
.site-register {
  border-radius: 20px;
  margin: 40px auto;
  width: 550px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.site-register p {
  font-size: 0.9em;
}
.site-register button {
  position: relative;
  left: 15px;
  top: -20px;
}
.profile-create {
  background-color: #2a4b6d;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  /*padding-top: 50px;*/
}
.terms-header {
  background-color: #2a4b6d;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  padding: 20px 0;
  margin-bottom: 30px;
}
.terms-header h1 {
  color: #f5f5f5;
}
.registration-complete {
  padding: 0 50px;
  text-align: center;
}
.registration-complete h2 {
  color: #fff;
  padding: 75px 0;
}
button.link-btn {           /* style button to look like link */
  background-color: transparent;
  border: none;
  color: #337ab7;
  padding-left: 4px;
}
button.link-btn:hover {
  text-decoration: underline;
  color: #23527c;
}
.btn-link {           /* style link to look like button */
  padding: 10px 40px;
  color: #fff;
  background-color: #dc9f27;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 5px;
}
.profile-create .registration-complete .btn-link {
    position: relative;
    top: 7px;
}
.btn-link:hover {
  color: #fff;
  background-color: #2c2b2a;
  text-decoration: none;
}
.h {
  margin: -20px 0;
  visibility: hidden;
  position: fixed;
}

/*
  * Login 
  *-----------------------------*/
  .Login {
    background-color: #dc9f27;
  }
  .Login h1 {
    color: white;
    margin-top: 0px;
  }
  .Login label {
    color: white;
    font-weight: normal;
  }
  .Login .btn-primary {
    background-color: #2c2b2a;
    color: #fff;
    width: 49%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .Login .btn-primary:hover {
    background-color: #fff;
    color: #2c2b2a;
  }
  form#login-form label, form#login-form a {
    color: white;
  }
  .login-links {
      padding: 0 0 0 15px;
  }
  .login-links a {
      display: block;
      float: right;
  }
  .login-links .checkbox {
      padding-top: 0;
  }
  .login-links .form-group {
      width: 50%;
  }
  .Login .btn-primary {
      width: 42%;
  }
  .login-buttons a {
      float: right;
  }
  .login-buttons {
      padding: 0 15px;
  }
  form#login-form .form-group {
      margin-bottom: 0;
  }
  form#login-form img {
      margin-top: 18px;
  }
  form#login-form a:hover {color: #2c2b2a;}

/*
  * Search
  *-----------------------------*/
.Search, .settings p, .profile-form, .profile-form label {
  color: #6c8296;
}
.profile-form label {
  font-weight: normal;
}
.profile-form {
  padding-bottom: 20px;
}
.Search b {
  color: #4c4c4c;
}
.Search h4 {
  margin-bottom: 1px;
}
.Search h4 a {
  color: #dc9f27;
}
.Search h4 a:hover {
  color: #2a4b6d;
}
.Search .container .row {
  margin-bottom: 15px;
}
.Search .pagination > li > a, .pagination > li > span {
  border: 0px solid #fff;
}
.Search .pagination > .active > a {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


 /*
  * 404 
  *-----------------------------*/
.site-error {
  text-align: center;
}
 


 /* Misc */
 .fade.in {

}
.thumbnail {
  background-color: transparent;
  border: none;
}
.img-thumbnail {
  background-color: transparent;
  border: none;
}
.center {
  text-align: center;
}
.strong {
  font-weight: bold;
}
.huge {
  font-size: 7em;
}
.small {
  font-size: .7em;
}
.crop {
  overflow: hidden;
}
.line-height-sm {
  line-height: 60%;
}
.site-login {
  margin-bottom: 40px;
  margin-top:50px;
  padding-top: 50px;
}
.summary {
  padding-bottom: 20px;
}
.search-icon {
  padding-top: 10px;
}
.icon-sm {
  color:#365f89; 
  font-size: 1.8em;
}
.icon-lg {
  color: #365f89; 
  font-size: 3em;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.top-margin-10 {
  margin-top: 10px;
}
.top-margin {
  margin-top: 20px;
}
.top-margin-28 {
  margin-top: 28px;
}
.top-margin-40 {
  margin-top: 40px;
}
.top-margin-60 {
  margin-top: 60px;
}
.top-margin-100 {
  margin-top: 100px;
}



/*
 * Media Queries
---------------------------------------------------------------------------------------------------- */

/* UHD (landscape) ----------- */
@media only screen and (min-device-width: 1920px) {
    .header-img {
      background: url(../images/content/fall-header-uw.jpg);
    }
    .header-img:first-child img {
      left: 34%;
    }
}

/* Desktops, laptops and iPads (landscape) ----------- */
@media only screen and (max-width: 1200px) {
    .fullname {
        display: none;
    }
    .abbreviated {
        display: block;
    }
    .blog-crop {
      height: 168px;
    }
}

@media only screen and (max-width: 1024px) {
    .header-img:first-child img {
      left: 15%;
    }
    .navbar-inverse .navbar-nav > .active > a {
      max-width: 180px !important;
    }
    .navbar-brand {
      width: 80px;
    }
    .fullname {
      display: none;
    }
    .navbar-inverse .navbar-nav > .active > a {
      max-width: 120px;
    }
    .header-wh {
      display: none;
    }
    .header-wh-mb {
      display: block;
    }
    .header-wh-mb p {
      width: 350px;
      margin-left: calc(50% - 175px);
    }
    .blog-crop {
      height: 126px;
    }
}

/* iPads (portrait) ----------- */

@media only screen and (max-width: 768px) {
    #menuLogin hr,
    #menuLogin h4,
    .dropdown-menu:before {
      display: none;
    }
    #dropdown-menu-user {
      width: 60%;
    }
    .header-img {
      background: url(../images/content/fall-header-mb.jpg);
    }
    .header-img:first-child img {
      display: none;
    }
    #search-box {
      margin-left: calc(50% - 170px);
    }
    .terms-header .container {
      margin-left: 20px;
    }
    .browse-result-container {
      margin: 20px 0;
    }
    .browse-card {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .browse-card img {
      float: none;
      margin: 0 auto;
    }
    #br {
      display: none;
    }
    #mb {
      display: block;
    }
    .footer {
      height: 220px;
    }
    .footer .container {
      display: flex;
      flex-direction: column;
    }
    .footer .social {
      top: 0;
    }
    .footer .designed-by {
      float: none;
    }
    .site-register {
      width: 100%;
    }
    .site-register button {
      top: 0px;
    }
    .blog-crop {
      height: unset;
    }
}

/* iPhones (portrait and landscape) ----------- */

@media only screen and (max-width: 480px) {
    #dropdown-menu-user {
      width: 100%;
    }
    #search-form {
      width: 70%;
    }
    #search-form .form-group {
      float: left;
      width: 80%;
    }
    #search-form .input-group-btn {
      float: right;
      width: 20%;
    }
    #search-box {
      margin-left: calc(50% - 123px);
    }
    .header-wh-mb {
      display: none;
    }
    .header-wh-sm {
      display: block;
    }
    .new-profile img {
      margin-bottom: 10px;
      float: none;
      top: -23px;
    }
    .blog-container {
      flex-direction: column;
      margin: 0;
    }
    .blog-card {
      width: 100%;
      margin: 15px 0;
    }
    .blog-card:first-child {
      margin-left: 0;
    }
    .blog-card:last-child {
      margin-right: 0;
    }
}

/* FOOTER FIX */
#main-wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}
.clearfix {
    height: 40px;
}